/FinalProject/nbproject/private/
/HoughTransformation/nbproject/private/
/FinalProject/build/
/ErodeDilateOpenClose/nbproject/private/
/Binarization/nbproject/private/
/Sobel/build/
/Sobel/nbproject/private/
/FinalProject/dist/
/Detection/nbproject/private/
/NameThatShape/nbproject/private/
/NameThatShape/build/
/ChainCode/nbproject/private/
/ChainCode/build/
/Components/build/
/Components/nbproject/private/